@model IEnumerable<App1Web.Models.Obra>

@{
    ViewBag.Title = "Index";
}
@{
    if ((String)Session["rol"] == null)
    {
        Response.Redirect("~/Usuarios/Login");

    }
}

<h2>Listado de Obras</h2>
@using (Html.BeginForm())
{
    <p>
        Buscar por Obra: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}
<p>
    @if ((String)Session["rol"] == "admin")
    {
        @Html.ActionLink("Crear Obra", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_publi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.n_ejemplares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cd_Dvd.id_obra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro.isbn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_publi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.n_ejemplares)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cd_Dvd.id_obra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.isbn)
        </td>
        @if ((String)Session["rol"] == "admin")
        {
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_obra }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_obra }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_obra })
        </td>
        }
        @if ((String)Session["rol"] == "user")
        {
         <td>
            @Html.ActionLink("Detalles", "Details", new { id = item.id_obra }) 
         </td>
        }
    </tr>
}

</table>
